<!DOCTYPE html>
<html>
<head>
    <title>警告</title>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<img src="IMG_1041.jpeg">
<p>生成AIは、入力するデータの内容や生成物の利用方法によっては法令に違反したり、他者の権利を侵害したりする可能性があります。
<li><p>データ入力に際しては下記の入力に注意してください。
<li>（1）第三者が著作権を有しているデータ（他人が作成した文章等）
<li>（2）登録商標・意匠（ロゴやデザイン）
<li>（3）著名人の顔写真や氏名
<li>（4）個人情報
<li>（5）他社から秘密保持義務を課されて開示された秘密情報</li>
<li>（6）自組織の機密情報</p>
<li>生成物を利用するに際しては下記事項に注意してください。
<li>（1）生成物の内容に虚偽が含まれている可能性がある
<li>（2）生成物を利用する行為が誰かの既存の権利を侵害する可能性がある
<li>（3）生成物について著作権が発生しない可能性がある
<li>（4）生成物を商用利用できない可能性がある
<li>（5）生成AIのポリシー上の制限に注意する</li>
<p>上記内容を承諾する場合のみ、「同意します」ボタンをクリックしてください。</p>


 <button class="btn btn-link" onclick="window.location.href='/login'">同意します</button>
</body>
<script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</html>
