<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turbotube ターボチューブ</title>
    <link rel="stylesheet" href="/background-image.css">

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

    <script type="text/javascript">
(function(a,b,c,d,e,f,g){
e='//d.nakanohito.jp/ua/uwa.js';
a['UlGlobalObject']=d;a[d]=a[d]||function(){(a[d].q=a[d].q||[]).push(arguments)};
a[d].l=1*new Date();
f=b.createElement(c),g=b.getElementsByTagName(c)[0];
f.async=1;f.src=e;g.parentNode.insertBefore(f,g)
})(window,document,'script','_uao');

_uao('init', '20155901', {oem_id: 1,fpf: true});
_uao('set', 'lg_id', '');
_uao('send', 'pv');
</script>
</head>
<body>
    <iframe src="https://youtube-video-client.pages.dev" title="NHK"></iframe>
</body>
</html>
