<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>downloader</title>
    <link rel="stylesheet" href="/background-image.css">

<div class="fu" id="border">
        <b><p id="realtime"></p></b></div>
</div>
    <script id="_wauwnn">var _wau = _wau || []; _wau.push(["classic", "4fc3tv76l2", "wnn"]);</script><script async src="//waust.at/c.js"></script>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

    <script type="text/javascript">
(function(a,b,c,d,e,f,g){
e='//d.nakanohito.jp/ua/uwa.js';
a['UlGlobalObject']=d;a[d]=a[d]||function(){(a[d].q=a[d].q||[]).push(arguments)};
a[d].l=1*new Date();
f=b.createElement(c),g=b.getElementsByTagName(c)[0];
f.async=1;f.src=e;g.parentNode.insertBefore(f,g)
})(window,document,'script','_uao');

_uao('init', '20155901', {oem_id: 1,fpf: true});
_uao('set', 'lg_id', '');
_uao('send', 'pv');
</script>
    <script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</head>
<body>
    <iframe src="https://socialplus.ai/ja/youtube-video-downloader" title="NHK"></iframe>
</body>
</html>
