<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>別のわかめtube-カスタムを使用</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.min.js"></script>

    <div class="fu" id="border">
        <b><p id="realtime"></p></b></div>
</div>
    <script id="_wauwnn">var _wau = _wau || []; _wau.push(["classic", "4fc3tv76l2", "wnn"]);</script><script async src="//waust.at/c.js"></script>

    <style>
    .error {
      color: red;
    }
    .details {
      color: gray;
      font-size: small;
      white-space: pre-wrap;
    }
  </style>
  </head>
<body>
 <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/home.pdf'">ホーム🏠</button>
      <form class="d-flex" action="/s.pdf">
        <input type="text" name="q" class="form-control" placeholder="検索..." required>
      </form>
    </div>
  </header>
  <br><br>
  <li>ここで更新中 https://writening.net/page?ri2k5Y</li>

  <br>
</body>
    <script type="text/javascript">
(function(a,b,c,d,e,f,g){
e='//d.nakanohito.jp/ua/uwa.js';
a['UlGlobalObject']=d;a[d]=a[d]||function(){(a[d].q=a[d].q||[]).push(arguments)};
a[d].l=1*new Date();
f=b.createElement(c),g=b.getElementsByTagName(c)[0];
f.async=1;f.src=e;g.parentNode.insertBefore(f,g)
})(window,document,'script','_uao');

_uao('init', '20155901', {oem_id: 1,fpf: true});
_uao('set', 'lg_id', '');
_uao('send', 'pv');
</script>
<script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</html>
